.header__link_color_white.header__link_active{
    border-bottom: 3px solid #ffffff;
    padding-bottom: 20px;
}
.header__link_color_gray.header__link_active{
    border-bottom: 3px solid #1A1B22;
    color: #1A1B22;
    padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .header__link.header__link_active{
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 495px) {
    .header__link.header__link_active{
        padding-bottom: 13px;
    }
}