@import url(__container/profile__container.css);
@import url(__title/profile__title.css);
@import url(__user/profile__user.css);
@import url(__text/profile__text.css);
@import url(__image/profile__image.css);

.profile{
    padding-top: 80px;
    padding-bottom: 80px;
}

@media screen and (max-width: 1024px) {
    .profile{
        padding: 40px 40px;
    }
}

@media screen and (max-width: 640px) {
    .profile{
        padding: 32px 16px;
    }
}