@import url(_black/header__line_black.css);
@import url(_white/header__line_white.css);
@import url(_margin/header__line_margin.css);

.header__line{
    width: 100%;
    margin-bottom: 80px;
}

@media screen and (max-width: 945px) {
    .header__line{
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 495px) {
    .header__line{
        margin-bottom: 30px;
    }
}