@import url(./_transparent/news__result-button_transparent.css);

.news__result-button{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 80px;
    width: 288px;
    height: 64px;
    font-weight: 500;
    cursor: pointer;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #1A1B22;
}

.news__result-button:hover{
    opacity: 0.9;
}

@media screen and (max-width: 915px) {
    .news__result-button{
        width: 240px;
        height: 56px;
    }
}

@media screen and (max-width: 650px) {
    .news__result-button{
        width: 288px;
    }
}