.profile__title{
    margin: 0 0 24px;
    font-weight: normal;
    font-size: 40px;
    font-family: 'Roboto Slab', sans-serif;
    line-height: 46px;
    color: #1A1B22;
}

@media screen and (max-width: 890px) {
    .profile__title{
        font-size: 30px;
        line-height: 40px;
        margin: 0 0 16px;
    }
}