@import url(./_bottom/header__text_margin_bottom.css);
@import url(./_mini/header__text_margin_mini.css);

.header__text.header__text_margin{
    margin-bottom: 25px;
    margin-top: 0;
}

@media screen and (max-width: 945px) {
    .header__text.header__text_margin{
        max-width: 688px;
    }
}

.header__text_margin.header__text_margin:last-child{
    margin-bottom: 0;
}