.footer__icon{
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    margin-right: 25px;
}

.footer__icon:first-child{
    background-image: url('../../../images/github.png');
}
.footer__icon:last-child{
    margin-right: 0;
    background-image: url('../../../images/fb.png');
}