.news__result-title{
    margin: 0;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    font-family: 'Roboto Slab', sans-serif;
}

@media screen and (max-width: 915px) {
    .news__result-title{
        font-size: 30px;
        line-height: 34px;
    }
    .news__result-title_margin_none{
        width: 336px;
    }
}

@media screen and (max-width: 650px) {
    .news__result-title{
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 550px) {
    .news__result-title_margin_none{
        margin: 0;
        width: 288px;
    }
    .news__result-title_margin{
        margin: 0 0 16px;
    }
}