.header_bg{
    background-image: url('../../../images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 320px) {
    .header_bg{
        background-image: url("../../../images/bg_1.png");
    }
}