.news__result-link{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1A1B22;
    text-decoration: none;
}

.news__result-link:hover{
    opacity: .5;
}

@media screen and (max-width: 550px) {
    #news_link{
        display: none;
    }
}