@import url(__title/technology__title.css);
@import url(__image/technology__image.css);
@import url(__container/technology__container.css);
@import url(__name/technology__name.css);
@import url(__element/technology__element.css);
@import url(__content/technology__content.css);

.technology{
    width: 100%;
    padding: 80px 0;
    background-color: #f5f6f7;
}

@media screen and (max-width: 1100px) {
    .technology{
        padding: 40px 0;
    }
}